:root {
  --primary-color: #a6b9c4;
  --secondary-color: (--secondary-color);
  --tertiary-color: #d0dde4;
  --quaternary-color: #024e76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #17305e;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-stickyß;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: lighter;
  font-size: 30px;
  color: var(--primary-color);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  /*float: right;*/
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.45vw;
}

header nav ul li a:hover {
  opacity: 0.7;
}

.hero {
  background-image: url("../images/Screen\ Shot\ 2021-11-05\ at\ 10.03.41\ PM.png");
  height: 263px;
  
  background-size: cover;

  position: relative;
  background-position: center;
  display: flex;
  padding: 1rem 4rem;
}

.hero img {
  background-color: var(--primary-color);
  padding: 1px;
  width: 200px;
  color: var(--quaternary-color);
  border: solid 2px var(--quaternary-color);
  position: absolute;
  top: 0px;
  left: 70;
  border-radius: 50%;
}

.hero h2 {
  position: absolute;
  top: 190px;
  right: 60px;
  font-size: 22px;
  font-weight: lighter;
  color: var(--primary-color);
}

section {
  padding: 60px;
}

/* GRID STYLES */
.main {
  position: absolute;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-template-areas:
    "a a b b b b b b"
    "a a b b b b b b";
  padding: 5px;
}

.grid-1-left {
  grid-area: a;
  height: 100%;
}

.grid-1-right {
  grid-area: b;
  height: 100%;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  grid-template-areas:
    "a a b b b b b b"
    "a a b b b b b b"
    "a a b b b b b b"
    "a a c c c d d d"
    "a a e e e f f f";
  height: 900px;

  position: relative;
}

.grid-2-left {
  grid-area: a;
  height: 100%;
}

.feature-work {
  grid-area: b;
  background-image: url(../images/hero-bg.jpeg);
}
.change {
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(24, 69, 99);
  padding: 5px;
}

.change:hover {
  opacity: 0.7;
}

.change h3 {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 25px 25px 0 0;
}

.change p {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 0 25px 0 0;
  font-size: 14px;
}

.addl-1 {
  grid-area: c;

  background-image: url(../images/Screen\ Shot\ 2021-11-05\ at\ 3.26.07\ PM.png);
  background-size: cover;
  background-position: center;
}

.addl-2 {
  grid-area: d;
  background-image: url(../images/guillaume-galtier-5aklrccCH7w-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.addl-3 {
  grid-area: e;
  background-image: url(../images/guillaume-galtier-5aklrccCH7w-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.addl-4 {
  grid-area: f;
  background-image: url(../images/guillaume-galtier-5aklrccCH7w-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  grid-template-areas: "a a b c d e";
  height: 800px;
  position: relative;
}

.grid-3-left {
  grid-area: a;
  height: 100%;
}

.tel {
  grid-area: b;
}
.email {
  grid-area: c;
}
.git {
  grid-area: d;
  text-align: center;
}
.link {
  grid-area: e;
}

/*media queries*/
@media screen and (max-width: 770px) {
  /*header {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }*/
  header h1 {
    font-weight: lighter;
    font-size: 20px;
    text-align: left;
    margin: auto 0;
    display: inline;
  }

  header nav ul li a {
    margin: 0 15px;
    font-weight: lighter;
    font-size: 10px;
  }

  .hero {
    background-image: url("../images/Screen\ Shot\ 2021-11-05\ at\ 10.03.41\ PM.png");
    height: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    padding: 1rem 4rem;
  }
  .hero img {
    padding: 1px;
    width: 75px;

    top: 0px;
    left: 70;
  }
  .hero h2 {
    position: absolute;
    top: 20px;
    right: 60px;
    font-size: 12px;
    font-weight: lighter;
    color: var(--primary-color);
  }
}
@media screen and (max-width: 550px) {
.hero {
  display: flex
  flex-wrap: flex
  justify-content: space-aroung
  align-items: center
  position: absolute
}


  .hero img {
    padding: 1px;
    width: 60px;
position: relative;
   
    align-items: center;
    justify-content: center;
  }

  .hero h2 {
   position: absolute;
  top: 45px;
  right: 120px;
    font-size: 14px;
    font-weight: lighter;
    color: white;
    padding: 0;
  }
  .grid-3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-template-areas: 
    "a a b"
    "a a c"
    "a a d"
    "a a e";
    height: 200px;
    position: relative;
  
  }


  .git {
    text-align: start;
  }
  
}
